<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper body-inverse"> <!-- wrapper -->
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 d-md-block d-none">
        </div>
        <div class="col-md-6 text-right">
          <div class="login">
            <a [routerLink] ="'/signin'" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Sign In</span></a>
            <a [routerLink] ="'/signup'" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Sign Up</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<router-outlet></router-outlet>
